{pre_hooks, [{compile, "sed -e \"s,%VSN%,${VSN},g;s,%DATE%,${BUILD_DATE},g\" priv/erlrtpproxy.spec.in > priv/erlrtpproxy.spec"}]}.
{post_hooks, [{compile, "sed -i -e \"s,%VSN%,${VSN},g\" ebin/rtpproxy.app"}]}.
{clean_files, ["priv/erlrtpproxy.spec"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, {d, 'ENABLE_RTCP'}, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
