{pre_hooks, [{compile, "sed -e \"s,%VSN%,${VSN},g;s,%DATE%,${BUILD_DATE},g\" priv/erlrtpproxy-ser.spec.in > priv/erlrtpproxy-ser.spec"}]}.
{post_hooks, [{compile, "sed -i -e \"s,%VSN%,${VSN},g\" ebin/ser.app"}]}.
{sub_dirs, ["rel"]}.
{clean_files, ["ebin/*.beam", "ebin/*.app", "priv/erlrtpproxy-ser.spec", "rel/ser"]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
