{pre_hooks, [{compile, "sed -e \"s,%VSN%,${VSN},g;s,%DATE%,${BUILD_DATE},g\" priv/erlrtpproxy-ser.spec.in > priv/erlrtpproxy-ser.spec"}]}.
{post_hooks, [{compile, "sed -i -e \"s,%VSN%,${VSN},g\" ebin/ser.app"}]}.
{clean_files, ["ebin/*.beam", "ebin/*.app", "priv/erlrtpproxy-ser.spec"]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.

