[
	{erlsyslog,
		[
			{syslog_address, {"localhost", 514}}
		]
	},
	{rtpproxy,
		[
			{ipv6, {8193,1280,136,512,0,0,0,16}},
			{internal, {192,168,0,100}},
			{external, {192,0,43,10}},

			%%
			%% RTP processing parameters
			%%

			% By default entirely rebuild RTP discarding all
			% information except payload itself.
			{rebuildrtp, true},

			% RTP timeout in seconds during call establishing (60 seconds by default)
			{ttl_early, 60},
			% RTP timeout in seconds (30 seconds by default)
			{ttl, 30},

			%%
			%% Notifier parameters
			%%

			{radacct_servers, [[{127,0,0,1},1813,"testradacctpass"]]},
			%{notify_servers, tcp},
			{notify_servers, udp},
			{ignore_start, false},
			{ignore_stop, false},

			%%
			%% Stats backend parameters
			%%

			{stats_port, 8442},

			%%
			%% Frontend parameters
			%%

			{backend, ser},
			{listen, {udp, "127.0.0.1", 22222}}
		]
	}
].

