[
	{erlsyslog,
		[
			% For compatibility with older versions of erlsyslog
			{syslog_address, {"localhost", 514}},

			% Verbosity level/filter (only messages below this level will be passed to syslog.
			% Valid options are:
			% - debug (everything)
			% - info (everything, the same as debug)
			% - warning (only warnings and errors)
			% - error (only errors)
			{verbosity_level, warning}
		]
	},
	{rtpproxy,
		[
			%%
			%% Network parameters
			%%

			{ipv6, {8193,1280,136,512,0,0,0,16}},
			{internal, {192,168,0,100}},
			{external, {192,0,43,10}},
			{active, once},

			%%
			%% RTP processing parameters
			%%

			% Rebuild RTP entirely discarding all information (incl. SSRC)
			% except payload itself. Default - false
			{rebuildrtp, false},

			% RTP timeout in seconds during call establishing (60 seconds by default)
			{ttl_early, 60},
			% RTP timeout in seconds (30 seconds by default)
			{ttl, 30},

			% RTP handling strategy
			% - weak
			% - roaming (default)
			% - enforcing
			{sendrecv, roaming},

			%%
			%% Notifier parameters
			%%

			{radacct_servers, [[{127,0,0,1},1813,"testradacctpass"]]},
			%{notify_servers, tcp},
			{notify_servers, udp},
			{ignore_start, false},
			{ignore_stop, false},

			%%
			%% Stats backend parameters
			%%

			{http_port, 8442},

			%%
			%% Frontend parameters
			%%

			{backend, ser},
			{listen, {udp, "127.0.0.1", 22222}}
		]
	}
].

