[
	{erlsyslog,
		[
			{syslog_address, {"localhost", 514}}
		]
	},
	{rtpproxy,
		[
			{ipv6, {8193,1280,136,512,0,0,0,16}},
			{internal, {192,168,0,100}},
			{external, {192,0,43,10}},
			% RTP timeout in milliseconds (105 seconds by default)
			{ttl, 105000},

			%%
			%% Notifier parameters
			%%

			{radacct_servers, [[{127,0,0,1},1813,"testradacctpass"]]},
			{notify_servers, [{tcp, "127.0.0.1", 33333}]},
			{ignore_start, false},
			{ignore_stop, false},

			%%
			%% Frontend parameters
			%%

			{backend, ser}
			{listen, {udp, "127.0.0.1", 22222}},
		]
	}
].

